header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #395a5a;
    width: 100%;
    height: 70px;
    font-size: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
}

footer {
    background-color: #294242;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

body {
    background-color: #4e7979;
}

.mainSite {
    display: block;
}
.catalog {
    display: none;
}
.balance {
    display: none;
}
.cabinet {
    display: none;
}

.button {
    text-align: center;
    color: white;
    background-color: #5baeae;
    padding: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #3b7070;
    transform: scale(1.2);
    transition: transform .2s linear;

}

.games {
    background-color: #395a5a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
}

.game:hover {
    transform: scale(1.2);
    transition: transform .2s linear;
}

.game {
    padding: 5px;
    margin: 10px;
    background-color: #1e7575;
    border-radius: 5px;
}

.game > img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.game > .name {
    color: white;
    font-size: 25px;
    text-align: center;
}

.game > .price {
    color: white;
    font-size: 20px;
    text-align: center;
}